/* Empty. Add your own CSS if you like */

.tac {
    font-size: 30px;
}

.menumain {
    text-align: center;
    color: #fff;
    background: #274679;
    border: 0px;
}

.menumain a.item-content {
    padding: 16px 15px 16px 16px;
    background: #274679;
}

.main-menu {
    background: #274679;
}

.menu .bar-header {
    z-index: 0;
}

.bckgrnd {
    background: url('../img/background.png') no-repeat cover;
}

.logo-center {
    text-align: center;
    padding: 20px 0px 20px 0;
}

.button-stnd {
    text-align: center;
    padding: 5px 20px 50px 20px;
}

.button.button-light {
    border-color: #0085c3;
    background-color: #fff;
    color: #0085c3;
    border-radius: 3;
    width: 120px;
}

.button-small {
    padding: 0px 20px 0px;
    font-size: 14px;
    line-height: 26px;
    width: 120px;
}

.login-down {
    text-align: center;
    background: #7ab800;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    padding: 25px 0 28px 0px;
    min-height: 230px;
}

span.ion-checkmark-round.float-left {
    text-align: center;
}

span.ion-checkmark-round.float-right {
    float: right;
    width: 50%;
}

.button-fb {
    border: 1px solid #ddd;
    text-transform: lowercase;
    padding: 0px 10px 0px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background: #7AB800;
}

.button-twit {
    background: #7AB800;
    text-transform: lowercase;
    border-radius: 5px;
    padding: 0px 10px 0px;
    font-size: 14px;
    border: 1px solid #ddd;
    color: #F8F8F8;
}

.button.button-light:hover {
    color: #fff;
    text-decoration: none;
    background: #0085c3;
}

.login-down {
    text-align: center;
}

.button-fb span {
    padding-right: 8px;
    font-size: 17px;
}

.button-twit span {
    padding-right: 6px;
    font-size: 18px;
}

.login-down p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 5px;
}

.float-right,
.float-left {
    color: #fff;
}

.loginstep p {
    text-transform: uppercase;
    font-weight: 600;
}

.button-tickfb {
    float: left;
    width: 50%;
}
.centertick {
padding-bottom: 3px;
}
.connectwith {
padding-top: 12%;
padding-bottom: 5px;
}
.loginstep .ion-record {
color: #fff;
}
hr.tab-line {
    width: 238px;
    margin-top: -12px;
    position: absolute;
    z-index: -1;
}
span.ion-record.ion-record3rd {
    float: right;
}

span.ion-record.ion-record1st {
    float: left;
}

.loginstep {
    width: 244px;
    margin: auto;
    position: relative;
    z-index: 0;
}
.headwelcome {
text-align: center;
padding: 25px 0;
}
.welcm-share {
    text-align: center;
}

.welcm-share span.ion-social-facebook {
    background: #507cbe;
    border: 1px solid #507cbe;
    color: beige;
    border-radius: 100%;
    padding: 8px 14px 8px 14px;
    font-size: 18px;
    margin-right: 5px;
}
.welcm-share span.ion-social-twitter {
    background: #63cdf1;
    border: 1px solid #63cdf1;
    color: beige;
    border-radius: 100%;
    padding: 8px 10px 8px 10px;
    font-size: 18px;
    margin-left: 5px;
}
.wel-content {
    background: #7ab800;
    min-height: 500px;
}

.welcm-share p {
    padding-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
}

.welcm-btn {
    padding: 35px 0;
    text-align: center;
}

.welcm-btn .button.button-small {
    color: rgb(122, 184, 0);
    border-radius: 5px;
    width: 100px;
    margin: 0 10px;
}
.headwelcome h5 {
    font-weight: 600;
}
.land-content img {
    width: 100%;
}
.button-stnd1 {
text-align: center;
padding: 10px 10% 25px 10%;
}
.headlanding h5 {
    text-align: center;
    font-weight: 600;
    color: #0085c3;
}

.headlanding {
    padding-bottom: 20px;
}

.input label.item.item-input input {
text-align: center;
background: #7AB800;
color: #fff;
border-bottom: 1px solid #fff;
padding: 0px 0px;
}

.item item-input {
    background: #7AB800;
}

label.item.item-input {
    background: #7AB800;
    border: 0px solid #ddd;
    padding: 6px 27px;
}

.signnow {
padding: 25px 0 0 0;
}
.button-signin {
color: #7AB800;
text-transform: uppercase;
padding: 0px 10px 0px;
font-size: 14px;
border-radius: 5px;
text-align: center;
}
.login-circle {
    text-align: center;
    padding-top: 20px;
}

span.ion-record.ion-circle1 {
    color: #7AB800;
    margin: 0 5px;
}


  .input label.item.item-input ::-webkit-input-placeholder 
{ 
    color: #fff; 
} 
span.ion-record.ion-circle2 {
    margin: 0 5px;
}

.button-fb:hover, .button-twit:hover {
text-decoration: none;
color: #7AB800;
text-transform: lowercase;
padding: 0px 10px 0px;
font-size: 14px;
border-radius: 5px;
text-align: center;
background: #F8F8F8;
transition: 0.3ms ease;
}
.profile-pic img
{
width: 65px;
height: 65px;
margin: auto;
border: 2px solid #ddd;
border-radius: 100%;
}

.profile-pic {
text-align: center;
}
.profile-cont {
background: green;
min-height: 200px;
}

.profile-name {
    text-align: center;
    color: #fff;
}