<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.sergy.gozoop" version="1.0.0" versionCode="1">

    <name>Sergy</name>

    <description>
        Online Shopping Aid
    </description>

    <author href="http://www.wohlig.com" email="info@wohlig.com">
        Wohlig Technologies
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <preference name="phonegap-version" value="3.6.3" />
    <preference name="permissions" value="none" />
    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="android-installLocation" value="internalOnly" />
    <preference name="ErrorUrl" value="" />
    <preference name="BackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="KeepRunning" value="true" />
    <preference name="splash-screen-duration" value="3000" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="target-device" value="universal" />
    <preference name="LoadUrlTimeoutValue" value="200000" />
    <preference name="deployment-target" value="7.0" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="StatusBarOverlaysWebView" value="false" />

    <icon src="img/icon.png" />

    <gap:splash src="img/screen.png" />

    <access origin="*" />

    <gap:plugin name="com.ionic.keyboard" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="com.phonegap.plugin.statusbar" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" />


    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <feature name="Keyboard">
        <param name="ios-package" value="IonicKeyboard" onload="true" />
    </feature>
    <!-- for iOS -->
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
    </feature>
    <!-- for Android (you will find one in res/xml) -->
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>

</widget>