<ion-view>
    <ion-nav-bar class="bgtrans" title="Createpost" class="leader-cont">
        <ion-nav-back-button class="blue">
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon menu-btncolor green blue brf" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <div class="head-lead">
            Create Post
            <hr class="verticalup">
        </div>
        <ion-nav-buttons side="right">
            <a class="button button-icon button-clear ion-edit post-icon blue brf" href="#/app/suggestpost">
            </a>
            <a class="button button-icon button-clear ion-search menu-btncolor green blue brf" ng-click="searchpopup()">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content title="Createpost" class="leader-cont">
        <div class="leader-contmain">
            <div class="crt-post">
               	<ion-list ng-if="posts.length==0">
               		<ion-item class="heading">
						<div class="view-all">
							No Posts...
						</div>
					</ion-item>
				</ion-list>
                <ion-list ng-if="posts.length!=0">
                    <ion-item class="heading">
                        <div class="row">
                            <div class="col">Text</div>
                            <div class="col">Images</div>
                            <div class="col">Status</div>
                            <div class="col">Actions</div>
                        </div>
                    </ion-item>
                    <ion-item class="mk-class" ng-repeat="post in posts">
                        <div class="row">
                            <div class="col">
                                <div class="text-create">
                                    <p>{{post.text}}</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="image-create">
                                    <img src="{{post.image | imagepath}}" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-icon" ng-if="post.suggestionstatus==''">
                                    <i class="icons ion-ticks"></i>
                                </div>
                                <div class="crete-icon" ng-if="post.suggestionstatus=='Pending'">
                                    <i class=" icons ion-closes"></i>
                                </div>
                                <div class="crete-icon" ng-if="post.suggestionstatus=='Rejected' || post.suggestionstatus=='Publish'">
                                    <i class="icons ion-exclamation"></i>
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-btn" ng-if="post.suggestionstatus=='Publish' && post.posttype=='1'">
                                    <button class="button button-small" ng-click="makepostfb(post.id)">
                                        Post
                                    </button>
                                </div>
                                <div class="crete-btn" ng-if="post.suggestionstatus=='Rejected' || post.suggestionstatus=='Pending'">
                                    <p>{{post.suggestionstatus}}</p>
                                </div>
                                <div class="crete-btn1" ng-if="post.suggestionstatus=='Publish' && post.posttype=='2'">
									<button class="button icon-left ion-social-twitter button-post"ng-click="makeposttwitter(post.id)">Tweet</button>
								</div>
                            </div>
                        </div>
                    </ion-item>
<!--
                    <ion-item class="mk-class">
                        <div class="row">
                            <div class="col">
                                <div class="text-create">
                                    <p>Dell Rewards</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="image-create">
                                    <img src="img/dellpost.png" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-icon">
                                    <i class="icons ion-ticks"></i>
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-btn">
                                    <button class="button button-small">
                                        Post
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="mk-class">
                        <div class="row">
                            <div class="col">
                                <div class="text-create">
                                    <p>Dell Rewards</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="image-create">
                                    <img src="img/dellpost.png" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-icon">
                                    <i class="icons ion-exclamation"></i>
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-btn">
                                    <p>Rejected</p>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="mk-class">
                        <div class="row">
                            <div class="col">
                                <div class="text-create">
                                    <p>Dell Rewards</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="image-create">
                                    <img src="img/dellpost.png" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-icon">
                                    <i class=" icons ion-closes"></i>
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-btn">
                                    <p>Pending</p>

                                </div>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="mk-class">
                        <div class="row">
                            <div class="col">
                                <div class="text-create">
                                    <p>Dell Rewards</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="image-create">
                                    <img src="img/dellpost.png" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-icon">
                                    <i class="icons ion-exclamation"></i>
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-btn1">
                                    <button class="button icon-left ion-social-twitter button-post">Tweet</button>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="mk-class">
                        <div class="row">
                            <div class="col">
                                <div class="text-create">
                                    <p>Dell Rewards</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="image-create">
                                    <img src="img/dellpost.png" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-icon">
                                    <i class="icons ion-exclamation"></i>
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-btn">
                                    <p>Rejected</p>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="mk-class">
                        <div class="row">
                            <div class="col">
                                <div class="text-create">
                                    <p>Dell Rewards</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="image-create">
                                    <img src="img/dellpost.png" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-icon">
                                    <i class=" icons ion-closes"></i>
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-btn">
                                    <p>Pending</p>

                                </div>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="mk-class">
                        <div class="row">
                            <div class="col">
                                <div class="text-create">
                                    <p>Dell Rewards</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="image-create">
                                    <img src="img/dellpost.png" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-icon">
                                    <i class="icons ion-exclamation"></i>
                                </div>
                            </div>
                            <div class="col">
                                <div class="crete-btn1">
                                    <button class="button icon-left ion-social-twitter button-post">Tweet</button>
                                </div>
                            </div>
                        </div>
                    </ion-item>
-->
                </ion-list>
                <ion-infinite-scroll icon="ion-loading-c" on-infinite="loadMore()"></ion-infinite-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>