<ion-view>
    <ion-content>
        <div class="edit-header">
            <button class="button button-icon icon ion-close-round"></button>
            <button class="button button-icon icon ion-checkmark"></button>
        </div>
        <div class="img-profile">
            <div class="pic-edit">
                <img class="abc" src="img/profilepic.jpg">
                <h5 class="picsupload">Upload Picture</h5>
            </div>
        </div>
        <div class="edit-cont">
            <ul class="edit-dropdown">
                <li class="chng-paswd">
                    <h5> 
                    <i class="lockicon iicon"></i>
                    Change Password
                    <i class="ion-chevron-down"></i>
                    </h5>
                    <ul class="pswd-chgn">
                        <li>
                            <label class="item item-input">
                                <i class="lockicon iicon"></i>
                                <input type="password" placeholder="Current Password ">
                            </label>
                            <label class="item item-input">
                                <i class="lockicon iicon"></i>
                                <input type="password" placeholder="New Password">
                            </label>
                            <label class="item item-input">
                                <i class="lockicon iicon"></i>
                                <input type="password" placeholder="Conform Password">
                            </label>
                        </li>
                    </ul>
                </li>
                <li class="chng-profile">
                    <h5>
                    <i class="editicon iicon"></i> 
                    Edit Profile 
                    <i class="ion-chevron-down"></i>
                    </h5>
                    <ul class="edit-chgn">
                        <li>
                            <div class="list">
                                <label class="item item-input">
                                    <i class="personicon iicon"></i>
                                    <input type="text" placeholder="Name">
                                </label>
                                <label class="item item-input">
                                    <i class="cardicon iicon"></i>
                                    <input type="text" placeholder="Username">
                                </label>
                                <label class="item item-input">
                                    <i class="capicon iicon"></i>
                                    <input type="text" placeholder="College">
                                </label>
                                <label class="item item-input">
                                    <i class="contacticon iicon"></i>
                                    <input type="text" placeholder="Contact">
                                </label>
                                <label class="item item-input">
                                    <i class="cityicon iicon"></i>
                                    <input type="text" placeholder="City">
                                </label>
                                <label class="item item-input">
                                    <i class="bodicon iicon"></i>
                                    <input type="text" placeholder="Birth of Date">
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>