<ion-view class="bckgrnd">
    <ion-content>
        <div class="edit-header">
            <button class="button button-icon icon ion-close-round edit-pro brf" ng-click="closeModal();"></button>
            <button class=" button button-icon icon ion-checkmark edit-pro brf "></button>
        </div>
        <div class="pic-edit ">
            <div class="abc ">
                <img src="{{user.image}}">
<!--
                <div class="picsupload "><a href="# ">Upload Picture</a>
                </div>
-->
            </div>
        </div>
        <div class="edit-cont ">
            <ul class="edit-dropdown ">
                <li class="chng-paswd " >
                    <h5 ng-click="mkopen2(); "> 
                    <i class="lockicon iicon "></i>
                    Change Password
                    <i class="ion-chevron-down " ng-class="shldopens4 "></i>
                    </h5>
                    <ul class="pswd-chgn " ng-class="shldopens3 ">
                        <li>
                            <label class="item item-input">
                                <i class="lockicon iicon"></i>
                                <input type="password" placeholder="Current Password " ng-model="password.currentpassword" ng-class="allvalidation[0].validation" required>
                            </label>
                            <label class="item item-input">
                                <i class="lockicon iicon"></i>
                                <input type="password" placeholder="New Password " ng-model="password.password" ng-class="allvalidation[1].validation" required>
                            </label>
                            <label class="item item-input">
                                <i class="lockicon iicon"></i>
                                <input type="password" placeholder="Conform Password " ng-model="password.confirmpassword" ng-class="allvalidation[2].validation" required>
                            </label>
							<div class="btn-save">
<!--
								<button class="button button-small button-positive savebtn" ng-click="savepassword(password)">
									Save
								</button>
-->
							</div>
                        </li>
                    </ul>
                </li>
                <li class="chng-profile " >
                    <h5 ng-click="mkopen1(); ">
                    <i class="editicon iicon "></i> 
                    Edit Profile 
                    <i class="ion-chevron-down " ng-class="shldopens2 "></i>
                    </h5>
                    <ul class="edit-chgn " ng-class="shldopens1 ">
                        <li>
                            <div class="list ">
                                <label class="item item-input ">
                                    <i class="personicon iicon "></i>
                                    <input type="text " placeholder="Name " ng-model="profile.name" ng-class="allvalidation1[0].validation" required>
                                </label>
                                <label class="item item-input " ng-class="allvalidation1[1].validation">
                                    <i class="contacticon iicon "></i>
                                    <input type="text " placeholder="Contact " ng-model="profile.contact" required>
                                </label>
                                <label class="item item-input " ng-class="allvalidation1[2].validation">
                                    <i class="cityicon iicon "></i>
<!--
                                    <select>
                                        <option>demo</option>
                                    </select>
-->
                                    <input type="text " placeholder="City " ng-model="profile.city" required>
                                </label>
                                <label class="item item-input " ng-class="allvalidation1[3].validation">
                                    <i class="bodicon iicon "></i>
                                    <input type="text " placeholder="Birth of Date " ng-model="profile.dob" required>
                                </label>
                                <div class="btn-save">
								<button class="button button-small button-positive savebtn" ng-click="saveprofile(profile,password)">
									Save
								</button>
								</div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>