<ion-view class="bckgrnd">
    <ion-nav-bar class="bgtrans" title="Createpost" class="leader-cont">
        <ion-nav-back-button class="blue">
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon menu-btncolor green blue brf" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a class="button button-icon button-clear ion-edit post-icon blue brf" href="#/app/suggestpost">
            </a>
            <a class="button button-icon button-clear ion-search menu-btncolor green blue brf">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="head-lead">
            <i class="icons ion-social-facebook"></i>
            <h4>Facebook</h4>
            <hr class="verticalup">
        </div>
        <div class="tables">
            <div class="row">
                <div class="col">
                    <a href="#/app/tablefb">
                        <div class="tbl-items">
                            <h5 class="tot-title">      
                             Action Done
                             </h5>
                            <i class="icons ion-ticks"></i>
                            <h5>  
                   10
                    </h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="tbl-items">
                            <h5 class="tot-title">  
                    Actions Remaining
                    </h5>
                            <i class="icons ion-circle"></i>
                            <h5>  
                   2
                    </h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#/app/tablefb">
                        <div class="tbl-items">
                            <h5 class="tot-title">  
                    Total Reach
                    </h5>
                            <i class="icons ion-reach"></i>
                            <h5>  
                   50
                    </h5>
                        </div>
                    </a>
                </div>
            </div>
            <hr class="vertical-blue">
        </div>
        <div class="row center-main">
            <div class="col">
                <a href="#">
                    <button class="button button-small button-positive history activated">
                        New Post
                    </button>
                </a>
            </div>
            <div class="col">
                <a href="#/app/tablefb">
                    <button class="button button-small button-positive history">
                        History
                    </button>
                </a>
            </div>
        </div>
        <div class="box-slider">
            <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" does-continue="true" auto-play="3000">
                <ion-slide>
                    <div class="box">
                        <div class="postfb-cont">
                            <div class="card">
                                <div class="item item-text-wrap">
                                    <img src="img/fbpost.jpg">

                                    <button class="button icon-left ion-social-facebook button-postfb">Post</button>
                                    <h4>
                            Let's enlighten ourselves with some wise words by a tech visionsry who achieved his dream.
                            </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box">
                        <div class="postfb-cont">
                            <div class="card">
                                <div class="item item-text-wrap">
                                    <img src="img/fbpost.jpg">

                                    <button class="button icon-left ion-social-facebook button-postfb">Post</button>
                                    <h4>
                            Let's enlighten ourselves with some wise words by a tech visionsry who achieved his dream.
                            </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box">
                        <div class="postfb-cont">
                            <div class="card">
                                <div class="item item-text-wrap">
                                    <img src="img/fbpost.jpg">
                                    <button class="button icon-left ion-social-facebook button-postfb">Post</button>
                                    <h4>
                            Let's enlighten ourselves with some wise words by a tech visionsry who achieved his dream.
                            </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>