<ion-view class="bghome">
    <ion-nav-bar class="bgtrans">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon menu-btncolor brf" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="no-header">
        <div class="logo-center">
            <img src="img/logohome.png">
        </div>
        <div class="home-content">
            <div class="home-name">
                <h5>{{user.name}}</h5>
            </div>
            <i class="icon icon-medal">&nbsp;</i>Rank {{user.rank}}
            <i class="icon icon-star">&nbsp;</i>Score:{{user.score}}
            <hr class="dividhome">
        </div>
        <div class="home-profile">
            <div class="home-leader">
                <a nav-clear menu-close href="#/app/leaderboard"> <i class="icon icon-trophy">&nbsp;</i>
                    <div class="leader">Leaderboard</div>
                </a>
            </div>
            <div class="home-people">
                <a nav-clear menu-close href="#/app/profile"><i class="icon icon-people">&nbsp;</i>
                   <div class="my-profile">My profile</div></a>
            </div>
        </div>
        <hr class="home-divid">
        <div class="home-socials">
            <div class="home-fb">
                <a nav-clear menu-close href="#/app/fbpost"> <i class="icon icon-fb"></i>
                    <div class="home-fb1">Facebook</div>
                </a>

            </div>
            <div class="home-twit">
                <a nav-clear menu-close href="#/app/twitterpost"> <i class="icon icon-twit"></i>
                    <div class="home-twit1">Twitter</div>
                </a>

            </div>
            <div class="home-post">
                <a nav-clear menu-close href="#/app/suggestedpost"><i class="icon-post"></i>
                <div class="home-post1"> Create Post</div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>