<ion-view>
    <ion-content class="bckgrnd">
        <div class="logo-center">
            <img src="img/logos.png">
        </div>
        <div class="land-content">
<div class="headlanding">
   <div class="button-stnd1">
            <div class="button-tickfb">
                <button class="button button-small button-light">
                    Information
                </button>
            </div>
            <div class="button-ticktwit">
                <button class="button button-small button-light">
                    Login
                </button>
            </div>
        </div>
    <h5>Lorem Ipsum Lorem Ipsum</h5>
    <h5>Lorem Ipsum Lorem Ipsum</h5>
</div>
       <img src="img/college-kids.jpg">
        </div>
    </ion-content>
</ion-view>