<ion-view class="bg-leader">
    <ion-nav-bar class="bgtrans">
        <ion-nav-back-button class="blue">
        </ion-nav-back-button>
        <ion-nav-buttons side="left" class="border-color">
            <button class="button button-icon button-clear ion-navicon menu-btncolor green blue brf" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <div class="head-lead1">
            Leader Board
            <hr class="verticalup">
        </div>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-search post-icon blue brf">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="leader-cont">
        <div class="leader-contmain">
            <div class="row">
                <div class="col col-33">
                    <div class="lead2">
                        <img src="img/profilepic.jpg" alt="">
                        <div class="lead12">
                            <p> #2</p>
                            <h4> Sharonn J </h4>
                            <h3>  600</h3>
                        </div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="lead1">
                        <img src="img/lead1.jpg" alt="">
                        <div class="lead11">
                            <p> #1</p>
                            <h4> Lauren P </h4>
                            <h3>  850</h3>
                        </div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="lead3">
                        <img src="img/lead2.jpg" alt="">
                        <div class="lead13">
                            <p> #3</p>
                            <h4> Jack D </h4>
                            <h3>  490</h3>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="vertical-blue">
            <div class="leader-brd">
                <div class="row" ng-repeat="leader in leaderboard">
                    <div class="col col-10">
                        <div class="rank-lead">
                            #{{leader.rank}}
                        </div>
                    </div>
                    <div class="col col-20">
                        <div class="pic-lead">
                            <img src="{{leader.image}}" alt="">
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="social-lead">
                            <h4 class="name">{{leader.name}}</h4>
                            <span class="fb-score"><i class="iicon ion-fb1"></i> <span class="lead-score">{{leader.facebook}}</span></span>
                            <span class="twit-score"><i class="iicon ion-twit"></i> <span class="lead-score">{{leader.twitter}}</span></span>
                        </div>
                    </div>
                    <div class="col col-20">
                        <div class="score-lead">
							{{leader.score}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="bar bar-footer">
            <div class="row like-comnt leader" id="like-comnts">
                <div class="col col-33 bod-right">
                    <h5>
                 #1
                </h5>
                </div>
                <div class="col col-33 bod-right">
                    <h5>
                Lauren Paul
                </h5>
                </div>
                <div class="col col-33 bod-right">
                    <h5 class="score-tot">
                        <i class="icon-star icon-str"></i>
                850
                </h5>
                </div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>