<ion-view>
    <ion-content class="bckgrnd">
        <div class="logo-center">
            <img src="img/logos.png">
        </div>
        <div class="button-stnd">
            <div class="button-tickfb">
                <a  ng-click="changetoinformation();">
                    <button class="button button-small button-light bgtrans">
                        Information
                    </button>
                </a>
            </div>
            <div class="button-ticktwit">
                <button class="button button-small button-light bgtrans" ng-click="changetologin();">
                    Login
                </button>
            </div>
        </div>
        <!--                   box slider-->
        <div class="box-slider login">
            <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true">
                <ion-slide>
                    <div class="item-login">
                        <div class="land-content">
                            <div class="lnd-cont">
                                <h5>Welcome to Dell Campassador Program.</h5>
                                <h5>Share your technology stories with your friends and family.</h5>
                            </div>
                            <img src="img/college-kids.jpg">
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="item-login" ng-show="logindiv">
                        <div class="login-down">
                            <div class="loginstep">
                                <p>Step 1 of 2</p>
                                <div class="icon-login">
                                    <span class="ion-record ion-record1st"></span>
                                    <span class="ion-circle">&nbsp;&nbsp;</span>
                                    <span class="ion-record ion-record3rd ion-recordfade"></span>
                                    <hr class="tab-line">
                                </div>
                            </div>
                            <div class="signnow">
                                <div class="list input bgtrans">
                                    <label class="item item-input bgtrans">
                                        <input type="email" placeholder="User Email" class="bgtrans" ng-model="login.email">
                                    </label>
                                    <label class="item item-input bgtrans">
                                        <input type="password" placeholder="Password" class="bgtrans" ng-model="login.password">
                                    </label>
                                </div>
                                <div class="button-login1">
                                    <div class="button-sidelog">
                                        <button class="button button-small button-signin" ng-click="normallogin(login)">
                                            Sign In Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-login" ng-show="facebooktwitter">
                        <div class="login-down">
                            <div class="loginstep">
                                <p>Step 2 of 2</p>
                                <div class="icon-login">
                                    <span class="ion-record ion-record1st"></span>
                                    <span class="ion-record ion-record2nd"></span>
                                    <span class="ion-record ion-record3rd"></span>
                                    <hr class="tab-line">
                                </div>
                            </div>
                            <div class="connectwith">
                                <p>Connect With</p>
                                <div class="button-login">
                                    <div class="button-tickfb" ng-click="facebooklogin();">
                                        <div class="centertick" ng-show="facebooktik">
                                            <i class="float-left">&nbsp;&nbsp;&nbsp;</i>
                                        </div>
                                        <div class="button-side">
                                            <button class="button icon-left ion-social-facebook button-fb">Facebook</button>
                                        </div>
                                    </div>
                                    <div class="button-ticktwit">
                                        <div class="centertick" ng-show="twittertik">
                                            <i class="float-left">&nbsp;&nbsp;&nbsp;</i>
                                        </div>
                                        <button class="button icon-left ion-social-twitter button-twit">Twitter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>

        </div>
        <!--                   box slider-->
    </ion-content>
</ion-view>