<ion-view>
    <ion-content class="bckgrnd">
        <div class="logo-center">
            <img src="img/logos.png">
        </div>
        <div class="button-stnd">
            <div class="button-tickfb">
                <button class="button button-small button-light bgtrans">
                    Information
                </button>
            </div>
            <div class="button-ticktwit">
                <button class="button button-small button-light bgtrans">
                    Login
                </button>
            </div>
        </div>
        <div class="login-down">
            <div class="loginstep">
                <p>Step 1 of 2</p>
                <div class="icon-login">
                    <span class="ion-record ion-record1st"></span>
                    <span class="ion-circle">&nbsp;&nbsp;</span>
                    <span class="ion-record ion-record3rd ion-recordfade"></span>
                    <hr class="tab-line">
                </div>
            </div>
            <div class="signnow">
                <div class="list input bgtrans">
                    <label class="item item-input bgtrans">
                        <input type="text" placeholder="Username" class="bgtrans">
                    </label>
                    <label class="item item-input bgtrans">
                        <input type="password" placeholder="Password" class="bgtrans">
                    </label>
                </div>
                <div class="button-login1">
                    <div class="button-side">
                        <button class="button button-small button-signin">
                            Sign In Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>