<ion-modal-view>
    <ion-content>
        <div class="modal-btn">
            <div class="buttons close-modal">
                <button class="button button-icon ion-close-round" ng-click="closeModal();"></button>
            </div>
        </div>
        <div class="modal-cont">
            <div class="cont-modal">
                <h4>I am Dell Compassador!</h4> Join me in my journey of learning and help me land my first intership.
            </div>
            <div class="modal-button">
                <button class="button button-assertive" type="submit" ng-click="closeModal()">post now</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>