<ion-view>
    <ion-content class="no-header leader-cont">
        <ion-nav-bar class="bgtrans">
            <ion-nav-back-button class="green">
            </ion-nav-back-button>
            <ion-nav-buttons side="left" class="border-color">
                <button class="button button-icon button-clear ion-navicon menu-btncolor green" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <div class="head-lead">
                Post
                <hr class="verticalup">
            </div>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-edit post-icon">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <div class="postfb-contmain">
            <div class="postfb-cont">
                <div class="card">
                    <div class="item item-text-wrap">
                        <img src="img/fbpost.jpg">
                        <h3>
                            Let's enlighten ourselves with some wise words by a tech visionsry who achieved his dream.
                            </h3>
                        <button class="button icon-left ion-social-facebook button-postfb">Post</button>
                    </div>
                </div>
            </div>
            <div class="postfb-cont">
                <div class="card">
                    <div class="item item-text-wrap">
                        <img src="img/fbpost.jpg">
                        <h3>
                            Let's enlighten ourselves with some wise words by a tech visionsry who achieved his dream.
                            </h3>
                        <button class="button icon-left ion-social-facebook button-postfb">Post</button>
                    </div>
                </div>
            </div>
            <div class="postfb-cont">
                <div class="card">
                    <div class="item item-text-wrap">
                        <img src="img/fbpost.jpg">
                        <h3>
                            Let's enlighten ourselves with some wise words by a tech visionsry who achieved his dream.
                            </h3>
                        <button class="button icon-left ion-social-facebook button-postfb">Post</button>
                    </div>
                </div>
            </div>
            <div class="postfb-cont">
                <div class="card">
                    <div class="item item-text-wrap">
                        <img src="img/fbpost.jpg">
                        <h3>
                            Let's enlighten ourselves with some wise words by a tech visionsry who achieved his dream.
                            </h3>
                        <button class="button icon-left ion-social-facebook button-postfb">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>