<ion-view>
    <ion-nav-bar class="bgtrans" title="Createpost" class="leader-cont">
        <ion-nav-back-button class="blue">
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon menu-btncolor green blue" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <div class="head-lead">
            Post Information
            <hr class="verticalup">
        </div>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-edit post-icon blue">
            </button>
            <button class="button button-icon button-clear ion-search menu-btncolor green blue">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="post-infocontfb">
            <h5>Platform</h5>
            <i class="iicons ion-fb1"></i>
            <h5>date</h5> 02-02-15 | 12.05.05
        </div>
        <div class="box-slider">
            <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" does-continue="true" auto-play="3000">
                <ion-slide>
                    <div class="box">
                        <div class="fbpost">
                            <img src="img/dellpost.png" alt="">
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box">
                        <div class="fbpost">
                            <img src="img/dellpost.png" alt="">
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box">
                        <div class="fbpost">
                            <img src="img/dellpost.png" alt="">
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="postinfofb">
            <h5>Get your voucher code as soon as your redeem your reward points on My Dell Rewards.
        </div>
            <div class="row like-comnt">
                <div class="col">
                    <i class="iicon hrt-icon"></i>5
                </div>
                <div class="col">
                    <i class="iicon icon-comment"></i>2
                </div>
                <div class="col">
                    <i class="iicon ion-shares"></i>1
                </div>
        </div>
    </ion-content>
</ion-view>