<ion-view>
    <ion-content class="no-header leader-cont">
        <ion-nav-bar class="bgtrans">
            <ion-nav-back-button class="green">
            </ion-nav-back-button>
            <ion-nav-buttons side="left" class="border-color">
                <button class="button button-icon button-clear ion-navicon menu-btncolor green" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <div class="head-lead">
                Post
                <hr class="verticalup">
            </div>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-edit post-icon">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <div class="post-contmain">
            <div class="post-cont">
                <div class="card">
                    <div class="item item-text-wrap">
                        <h4>Get your voucher code as soon as your reward points on My Dell Rewards.
                            Link:<a href="">http://bit.ly/myDellrewards
                            </a>
                            </h4>
                        <button class="button icon-left ion-social-twitter button-post">Tweet</button>
                    </div>
                </div>
            </div>
            <div class="post-cont">
                <div class="card">
                    <div class="item item-text-wrap">
                        <h4>Get your voucher code as soon as your reward points on My Dell Rewards.
                            Link:<a href="">http://bit.ly/myDellrewards
                            </a>
                            </h4>
                        <button class="button icon-left ion-social-twitter button-post">Tweet</button>
                    </div>
                </div>
            </div>
            <div class="post-cont">
                <div class="card">
                    <div class="item item-text-wrap">
                        <h4>Get your voucher code as soon as your reward points on My Dell Rewards.
                            Link:<a href="">http://bit.ly/myDellrewards
                            </a>
                            </h4>
                        <button class="button icon-left ion-social-twitter button-post">Tweet</button>
                    </div>
                </div>
            </div>
            <div class="post-cont">
                <div class="card">
                    <div class="item item-text-wrap">
                        <h4>Get your voucher code as soon as your reward points on My Dell Rewards.
                            Link:<a href="">http://bit.ly/myDellrewards
                            </a>
                            </h4>
                        <button class="button icon-left ion-social-twitter button-post">Tweet</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>