<ion-view class="bckgrnd">
    <ion-nav-bar class="bgtrans" title="Createpost" class="leader-cont">
        <ion-nav-back-button class="blue">
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon menu-btncolor green blue brf" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <div class="head-lead">
            Post Information
            <hr class="verticalup">
        </div>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-edit post-icon blue brf">
            </button>
            <button class="button button-icon button-clear ion-search menu-btncolor green blue brf">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="post-infocont">
            <h5>Platform</h5>
            <i class="ion-social-twitter"></i>
            <h5>date</h5> 02-02-15 | 13.55.05
        </div>
        <div class="box-slider">
            <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" does-continue="true" auto-play="3000">
                <ion-slide>
                    <div class="box">
                        <div class="post-cont">
                            <div class="card">
                                <div class="item item-text-wrap">
                                    <h3>Get your voucher code as soon as your reward points on My Dell Rewards.
    Link:<a href="">http://bit.ly/myDellrewards</a></h3>
                                </div>
                            </div>
                            <div class="postinfo">
                                <h4>Get your voucher code as soon as your reward points on My Dell Rewards.
    Link:<a href="">http://bit.ly/myDellrewards</a></h4>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box">
                        <div class="post-cont">
                            <div class="card">
                                <div class="item item-text-wrap">
                                    <h3>Get your voucher code as soon as your reward points on My Dell Rewards.
    Link:<a href="">http://bit.ly/myDellrewards</a></h3>
                                </div>
                            </div>
                            <div class="postinfo">
                                <h4>Get your voucher code as soon as your reward points on My Dell Rewards.
    Link:<a href="">http://bit.ly/myDellrewards</a></h4>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box">
                        <div class="post-cont">
                            <div class="card">
                                <div class="item item-text-wrap">
                                    <h3>Get your voucher code as soon as your reward points on My Dell Rewards.
    Link:<a href="">http://bit.ly/myDellrewards</a></h3>
                                </div>
                            </div>
                            <div class="postinfo">
                                <h4>Get your voucher code as soon as your reward points on My Dell Rewards.
    Link:<a href="">http://bit.ly/myDellrewards</a></h4>
                            </div>

                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="bar bar-footer">
            <div class="row like-comnt">
                <div class=" col tab-items1">
                    <a>
                        <i class="iicon hrt-icon"></i> 1
                    </a>
                </div>
                <div class="col tab-items2">
                    <a>
                        <i class="iicon retweet"></i> 1
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>