<ion-view class="bgprofile title-main">
    <ion-nav-bar class="bgtrans">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon menu-btncolor brf" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-gear-a menu-btncolor brf" ng-click="openedit()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="no-header">
        <div class="profile-contmainall">
            <div class="profile-cont" ng-class="shldopens" ng-click="mkopen();">
                <div class="titlemain">
                    Profile
                    <hr class="vertical-title">
                </div>
                <div class="profile-name">
                    <p>Lauren Paul</p>
                </div>
                <div class="img-profile">
                    <div class="profile-pic">
                        <img src="img/profilepic.jpg">
                    </div>
                </div>
                <div class="profile-contmain">

                    <div class="profile-contmain1">
                        <p class="rank-score">
                            <span class="ranks">Rank <span class="score"> 1 </span></span>
                            <span class="scores"> Score : <span class="score">105</span></span>
                        </p>
                        <p class="email-gen">
                            <span class="email-prf">lauren.paul@gmail.com | 
                    </span>
                            <span class="gend"> female</span>
                        </p>
                        <p class="dob-std">
                            <span class="dob-prf">dob:</span>
                            <span class="dob-title">28/04/1987 |</span>
                            <span class="std"> Studied at IBSR, Mumbai</span>
                        </p>

                    </div>
                </div>
                <div class="tri-grp">
                    <i class="icon ion-chevron-down"></i>
                </div>
            </div>

            <div class="profile-cont1">

                <div class="all-profile">
                    <div class="vertical-line"></div>
                    <a href="#/app/tablefb">
                        <div class="profile-action">
                            <p>Action Done</p>
                            <p class="score">0</p>
                        </div>
                    </a>
                    <div class="vertical-line"></div>
                    <a href="#/app/fbpost">
                        <div class="profile-remain">
                            <p>Action Remaining</p>
                            <p class="score">0</p>
                        </div>
                    </a>
                    <div class="vertical-line"></div>
                    <a href="#/app/fbpost">
                        <div class="social-fb">
                            <i class="iicon ion-fb"></i>
                            <p>Likes : <span class="like score"> 20 </span>| Comment:<span class="comment score"> 5 </span>
                            </p>
                        </div>
                    </a>
                    <div class="vertical-line"></div>
                    <a href="#/app/twitterpost">
                        <div class="social-twit">
                            <i class="iicon ion-twit"></i>
                            <p>Favourites : <span class="favourites score"> 7 </span>| Retweet : <span class="Retweet score"> 5 </span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>