<ion-view class="bgprofile title-main">
    <ion-nav-bar class="bgtrans">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon menu-btncolor brf" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-gear-a menu-btncolor brf" ng-click="openedit()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="profile-contmainall">
            <div class="profile-cont" ng-class="shldopens" ng-click="mkopen();">
                <div class="titlemain">
                    Profile
                    <hr class="vertical-title">
                </div>
                <div class="profile-name">
                    <p>{{user.name}}</p>
                </div>
                <div class="img-profile">
                    <div class="profile-pic">
<!--                        <img image-lazy-src="{{user.image}}" height="150px" width="150px" alt="">-->
<!--                        <img hires="{{user.image}}" ng-src="http://dellcampassador.com/assets/images/campassador.png">-->
                        <img ng-src="{{user.image}}"  class="imageisloading">
                    </div>
                </div>
                <div class="profile-contmain">
                    <div class="profile-contmain1">
                        <p class="rank-score">
                            <span class="ranks">Rank <span class="score"> {{user.rank}} </span></span>
                            <span class="scores"> Score : <span class="score">{{user.score}}</span></span>
                        </p>
                        <p class="email-gen">
                            <span class="email-prf">{{user.email}} | 
                    </span>
                            <span class="gend"> {{user.sex}}</span>
                        </p>
                        <p class="dob-std">
                            <span class="dob-prf">dob:</span>
                            <span class="dob-title">{{user.dob}} |</span>
                            <span class="std"> Studied at IBSR, {{user.city}}</span>
                        </p>

                    </div>
                </div>
                <div class="tri-grp">
                    <i class="icon ion-chevron-down"></i>
                </div>
            </div>

            <div class="profile-cont1">

                <div class="all-profile">
                    <div class="vertical-line"></div>
                    <a href="#/app/tablefb">
                        <div class="profile-action">
                            <p>Action Done</p>
                            <p class="score">{{user.actiondone}}</p>
                        </div>
                    </a>
                    <div class="vertical-line"></div>
                    <a href="#/app/fbpost">
                        <div class="profile-remain">
                            <p>Action Remaining</p>
                            <p class="score">{{user.remaining}}</p>
                        </div>
                    </a>
                    <div class="vertical-line"></div>
                    <a href="#/app/fbpost">
                        <div class="social-fb">
                            <i class="iicon ion-fb"></i>
                            <p>Likes : <span class="like score"> {{user.totallikes}} </span>| Comment:<span class="comment score"> {{user.totalcomment}} </span>
                            </p>
                        </div>
                    </a>
                    <div class="vertical-line"></div>
                    <a href="#/app/twitterpost">
                        <div class="social-twit">
                            <i class="iicon ion-twit"></i>
                            <p>Favourites : <span class="favourites score"> {{user.totalfavourites}} </span>| Retweet : <span class="Retweet score"> {{user.totalretweet}} </span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>