<ion-view class="bckgrnd">
    <ion-nav-bar class="bgtrans">
        <ion-nav-back-button class="blue">
        </ion-nav-back-button>
        <ion-nav-buttons side="left" class="border-color">
            <button class="button button-icon button-clear ion-navicon menu-btncolor green blue brf" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <div class="head-lead">
            Suggest Post
            <hr class="verticalup">
        </div>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-close post-icon blue brf" ng-click="myGoBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>

        <div class="suggest">
            <label class="item item-input fb-twt">
                <input type="text" placeholder="Platform" disabled style="background-color: rgba(255, 255, 255, 0);" ng-model="post.platform">
<!--
                <div ng-click="suggestfacebook()"><a><i class="ion-social-facebook"></i></a>
                </div>
                <div ng-click="suggesttwitter()"><a><i class="ion-social-twitter"></i></a>
                </div>
-->


            </label>
            <div class="label67">
                
                <div ng-click="suggesttwitter()"><a><i class="ion-social-twitter"></i></a>
                </div>
                <div ng-click="suggestfacebook()"><a><i class="ion-social-facebook"></i></a>
                </div>
            </div>

            <label class="item item-input img">
                <input type="text" placeholder="Text" ng-model="post.text" ng-change="twittertext();">
            </label>
            <div ng-hide="showfb" style="float: right;">
                {{keysremaining}}
            </div>
            <label class="item item-input img" ng-show="showfb">
                <input type="text" placeholder="Links" ng-model="post.link">
            </label>
            <label class="item item-input image-sugest" ng-show="showfb">
                Image

                <!--
                <button class="button button-icon icon ion-image" ng-click="takePicture();"></button>
                <img ng-src="{{cameraimage}}" alt="" style="height:50px;width:50px; margin:5px;">
-->
                <button class="button button-small imgset">
                    Choose File
                </button>
            </label>
            <div class="btn-save">
                <button class="button button-small button-positive savebtn" ng-click="suggestpost(post)">
                    Save
                </button>
            </div>
        </div>

        <div class="padding-top"></div>
        <div class="padding-top"></div>
        <div class="padding-top"></div>
        <div class="padding-top"></div>
        <!--
        <div class="text-center coming-soon">
            <h2>Coming Soon..</h2>
        </div>
-->
    </ion-content>
</ion-view>