<ion-view class="bckgrnd">
    <ion-nav-bar class="bgtrans">
        <ion-nav-back-button class="blue">
        </ion-nav-back-button>
        <ion-nav-buttons side="left" class="border-color">
            <button class="button button-icon button-clear ion-navicon menu-btncolor green blue brf" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <div class="head-lead">
            Suggested Post
            <hr class="verticalup">
        </div>
    </ion-nav-bar>
    <ion-content>
        <div class="suggested">
            <div class="row">
                <div class="col">
                    <a href="#/app/createpost/3">
                        <div>
                            <div class="circle clrblue">
                                3
                            </div>
                            <h5>
                    Suggested Posts
                </h5>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#/app/createpost/Publish">
                        <div>
                            <div class="circle clrgreen">
                                1
                            </div>
                            <h5>
                    Approved Posts
                </h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#/app/createpost/Pending">
                        <div>
                            <div class="circle clrgred">
                                7
                            </div>
                            <h5>
                    Pending Posts
                </h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#/app/createpost/Rejected">
                        <div>
                            <div class="circle clrgviolet">
                                5
                            </div>
                            <h5>
                    Rejected Posts
                </h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="suggested-img">
                <img src="img/dellpost.png" alt="">
            </div>
            <hr class="vertical-bluess width-hr">
            <div class="btncreate">
                <a href="#/app/suggestpost">
                    <button class="button button-small button-positive savebtn btn-create">
                        Create Your Own
                    </button>
                </a>
            </div>
            <div class="view-all">
                <a href="#/app/createpost">View all</a>
            </div>
        </div>
        <div class="padding-top"></div>
        <div class="padding-top"></div>
        <div class="padding-top"></div>
        <div class="padding-top"></div>
<!--        <div class="text-center coming-soon"><h2>Coming Soon..</h2></div>-->
    </ion-content>
</ion-view>