<ion-view title="Suggest Post">
    <ion-content>
        <div class="suggest">
            <label class="item item-input fb-twt">
                <input type="text" placeholder="Platform">
                <i class="ion-social-facebook"></i>
                <i class="ion-social-twitter"></i>
            </label>
            <label class="item item-input img">
                <input type="text" placeholder="text">
            </label>
            <label class="item item-input image-sugest">
                image
                <button class="button button-small imgset">
                    Choose File
                </button>
            </label>
            <button class="button button-small button-positive savebtn">
                Save
            </button>
        </div>
    </ion-content>
</ion-view>