<ion-view class="bckgrnd">
    <ion-nav-bar class="bgtrans" title="Createpost" class="leader-cont">
        <ion-nav-back-button class="blue">
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon menu-btncolor green blue brf" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a class="button button-icon button-clear ion-edit post-icon blue brf" href="#/app/suggestpost">
            </a>
            <a class="button button-icon button-clear ion-search menu-btncolor green blue brf">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="head-lead">
            <i class="icons ion-social-twitter"></i>
            <h4>Twitter</h4>
            <hr class="verticalup">
        </div>
        <div class="tables">
            <div class="row">
                <div class="col">
                    <a href="#">
                        <div class="tbl-items">
                            <h5 class="tot-title">      
                             Action Done
                             </h5>
                            <i class="icons ion-ticks"></i>
                            <h5>  
                   10
                    </h5>
                    </a>
                    </div>
                </div>
                <div class="col">
                    <a href="#/app/twitterpost">
                        <div class="tbl-items">
                            <h5 class="tot-title">  
                    Actions Remaining
                    </h5>
                            <i class="icons ion-circle"></i>
                            <h5>  
                   2
                    </h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="tbl-items">
                            <h5 class="tot-title">  
                    Total Reach
                    </h5>
                            <i class="icons ion-reach"></i>
                            <h5>  
                   50
                    </h5>
                        </div>
                    </a>
                </div>
            </div>
            <hr class="vertical-blue">
        </div>
        <div class="row center-main">
            <div class="col">
                <a href="#/app/twitterpost">
                    <button class="button button-small button-positive history">
                        New Post
                    </button>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <button class="button button-small button-positive history activated">
                        History
                    </button>
                </a>
            </div>
        </div>
        <div class="table-cont">
            <div class="row">
                <div class="col">
                    <div class="tlb-item">
                        <h5>
                            My Dell Rewards
                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        -
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        2015-01-12
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        <p> Retweetes:2</p>
                        <p>Favourites:0</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="tlb-item">
                        <h5>
                            My Dell Rewards
                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        -
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        2015-01-12
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        <p> Retweetes:2</p>
                        <p>Favourites:0</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="tlb-item">
                        <h5>
                            My Dell Rewards
                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        -
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        2015-01-12
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        <p> Retweetes:2</p>
                        <p>Favourites:0</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="tlb-item">
                        <h5>
                            My Dell Rewards
                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        -
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        2015-01-12
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        <p> Retweetes:2</p>
                        <p>Favourites:0</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="tlb-item">
                        <h5>
                            My Dell Rewards
                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        -
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        2015-01-12
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        <p> Retweetes:2</p>
                        <p>Favourites:0</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="tlb-item">
                        <h5>
                            My Dell Rewards
                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        -
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        2015-01-12
                    </div>
                </div>
                <div class="col">
                    <div class="tlb-item">
                        <p> Retweetes:2</p>
                        <p>Favourites:0</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>