<ion-view class="bckgrnd">
    <ion-nav-bar class="bgtrans" title="Createpost" class="leader-cont">
        <ion-nav-back-button class="blue">
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon menu-btncolor green blue brf" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a class="button button-icon button-clear ion-edit post-icon blue brf" href="#/app/suggestpost">
            </a>
            <a class="button button-icon button-clear ion-search menu-btncolor green blue brf">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar class="static-header-main">
        <div class="head-lead-static head-lead ">
            <i class="icons ion-social-twitter"></i>
            <h4>Twitter</h4>
            <hr class="verticalup">
        </div>
        <div class="tables static-table">
            <div class="row">
                <div class="col">
                    <a href="#">
                        <div class="tbl-items">
                            <h5 class="tot-title">      
                             Action Done
                             </h5>
                            <i class="icons ion-ticks"></i>
                            <h5>  
								{{twitter.stats.actiondone}}
                    </h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#/app/twitterpost">
                        <div class="tbl-items">
                            <h5 class="tot-title">  
                    Actions Remaining
                    </h5>
                            <i class="icons ion-circle"></i>
                            <h5>  
								{{twitter.stats.remaining}}
                    </h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="tbl-items">
                            <h5 class="tot-title">  
                    Total Reach
                    </h5>
                            <i class="icons ion-reach"></i>
                            <h5>  
								{{twitter.stats.totalpost}}
                    </h5>
                        </div>
                    </a>
                </div>
            </div>
            <hr class="vertical-blue-satatic">
        </div>
        </div>
        <div class="row center-main static-main">
            <div class="col {{newpostclass}}">

                <a class="button button-small button-positive history {{newpostclass}}" ng-click="changetab('newpost')">
                        New Tweet
                </a>
            </div>
            <div class="col {{historyclass}}">
                <a class="button button-small button-positive history {{historyclass}}" ng-click="changetab('history')">
                        History
                    </a>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="has-header2">
        <div class="tablefb-cont">
            <div class="box-slider" ng-show="tab=='newpost'">
                <div class="box" on-swipe-left="prevoiuspost()" on-swipe-right="nextpost()">
                    <div class="post-cont">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <h4>{{twitterpost.text}}</a></h4>
                            </div>
                        </div>
                        <button class="button icon-left ion-social-twitter button-post" ng-click="makeposttwitter(twitterpost.id)">Tweet</button>
                    </div>
                </div>
                <div class="previous">
                    <img src="img/arrowleft.png" class="next" ng-click="prevoiuspost()">
                    <img src="img/arrowright.png" class="prevoius" ng-click="nextpost()">
                </div>
            </div>
            <div class="table-cont" ng-show="tab=='history'">

                <div class="row" ng-repeat="posts in twitter.posts" ng-click="gotopost(posts)">
                    <div class="col">
                        <div class="tlb-item">
                            <h5 >
                            {{posts.posttext | cut:true:20:' ...'}}
                        </h5>
                        </div>
                    </div>
                    <div class="col">
                        <div class="tlb-item">
                            -
                        </div>
                    </div>
                    <div class="col">
                        <div class="tlb-item">
                            {{posts.timestamp}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="tlb-item">
                            <p>Retweetes:{{posts.retweet}}</p>
                            <p>Favourites:{{posts.favourites}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>