<ion-view>
    <ion-nav-bar class="bgtrans" title="Createpost" class="leader-cont">
        <ion-nav-back-button class="blue">
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon menu-btncolor green blue" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <div class="head-lead">
            <i class="iicon ion-twit"></i>
            <h4>Twitter</h4>
            <hr class="verticalup">
        </div>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-edit post-icon blue">
            </button>
            <button class="button button-icon button-clear ion-search menu-btncolor green blue">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="tables">
            <div class="row">
                <div class="col">
                    <div class="tbl-items">
                        <h5 class="tot-title">      
                             Action Done
                             </h5>
                        <i class="icons ion-ticks"></i>
                        <h5>  
                   10
                    </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="tbl-items">
                        <h5 class="tot-title">  
                    Actions Remaining
                    </h5>
                        <i class="icons ion-circle"></i>
                        <h5>  
                   2
                    </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="tbl-items">
                        <h5 class="tot-title">  
                    Total Reach
                    </h5>
                        <i class="icons ion-reach"></i>
                        <h5>  
                   50
                    </h5>
                    </div>
                </div>
            </div>
            <hr class="vertical-blue">
        </div>
        <div class="row center-main">
            <div class="col">
                <a href="#/app/suggestpost">
                    <button class="button button-small button-positive history">
                        New Post
                    </button>
                </a>
            </div>
            <div class="col">
                <a href="#/app/postinfo">
                    <button class="button button-small button-positive history">
                        History
                    </button>
                </a>
            </div>
        </div>
        <div class="box-slider">
            <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" does-continue="true" auto-play="3000">
                <ion-slide>
                    <div class="box">
                        <div class="post-cont">
                            <div class="card">
                                <div class="item item-text-wrap">
                                    <h4>Get your voucher code as soon as your reward points on My Dell Rewards.
    Link:<a href="">http://bit.ly/myDellrewards</a></h4>
                                </div>
                            </div>
                            <button class="button icon-left ion-social-twitter button-post">Tweet</button>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box">
                        <div class="post-cont">
                            <div class="card">
                                <div class="item item-text-wrap">
                                    <h4>Get your voucher code as soon as your reward points on My Dell Rewards.
    Link:<a href="">http://bit.ly/myDellrewards</a></h4>
                                </div>
                            </div>
                            <button class="button icon-left ion-social-twitter button-post">Tweet</button>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box">
                        <div class="post-cont">
                            <div class="card">
                                <div class="item item-text-wrap">
                                    <h4>Get your voucher code as soon as your reward points on My Dell Rewards.
    Link:<a href="">http://bit.ly/myDellrewards</a></h4>
                                </div>
                            </div>
                            <button class="button icon-left ion-social-twitter button-post">Tweet</button>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>