<ion-view>
    <ion-content class="bckgrnd">
        <div class="logo-center bg-white">
            <img src="img/logos.png">
        </div>
        <div class="wel-content">
            <div class="headwelcome">
                <h5>I am Dell Compassador!</h5>
            </div>
            <div class="welcm-share">
                <p>Share on</p>
                <a href="#/app/fbpost"> <span class="ion-social-facebook"></span>
                </a>
                <a href="#/app/twitterpost"> <span class="ion-social-twitter"></span>
                </a>
            </div>
            <div class="welcm-btn">
                <a class="button button-small" ng-click="openedit()">
                    Edit
                </a>
                <a class="button button-small" href="#/app/home">
                    Use later
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>